body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#container{
    background: #2a3366;
}
ul {
    width: 720px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content:center;
    
}
li{
    width: 30px;
    height: 30px;
    text-align: center;
    background: #2a3366;
}
a{
    line-height: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
li:hover{
    background: #84e7d7;
}